{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Reforzamiento al Sistema de Compliance, Integridad y Anticorrupción</h3>
                    <p>A partir de un diagnóstico del nivel de cumplimiento de la organización, con la intención de
                        alinearnos a las mejores prácticas, se efectuaron modificaciones al Sistema de Compliance,
                        Integridad y Anticorrupción de la organización, comprendiendo la inclusión de la Política de
                        Integridad, el Código de Ética y Conducta, el Manual de la Organización en Materia de
                        Cumplimiento y la Política de Anticorrupción y Antisoborno.</p>

                    <ul>
                        <li>• Política de Integridad</li>
                        <li>• Código de Ética y Conducta Política Anticorrupción y Antisoborno</li>
                        <li>• Manual de la Organización en Materia de Cumplimiento Manual de buenas prácticas
                            corporativas
                        </li>
                        <li>• Creación de órganos para el Gobierno Corporativo: Comité de compliance y Comité de
                            compensaciones
                        </li>
                    </ul>

                    <h3>DERECHOS HUMANOS</h3>
                    <p>Como programa integral de cuidado y procuración de los derechos humanos, basamos nuestras
                        políticas en la no discriminación y apoyo continuo en las comunidades.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}