{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}
{#    <link rel="stylesheet" href="{% static 'stylesheets/owl.carousel.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'stylesheets/css/owl.theme.default.css' %}">#}
{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>En PINFRA cumplimos a cabalidad con las regulaciones y normativas en materia laboral, al tiempo
                        que brindamos prestaciones y beneficios por encima de lo establecido por la ley.</p>
                    <p>Al cierre del 2021, nuestra organización está formada por un equipo de 3,038 colaboradores
                        integrado como se muestra a continuación:</p>
                </div>
                <div class="col-md-6 mb-4">
                    <div id="chart1" style="width: 100%;height: 600px;"></div>
                </div>
                <div class="col-md-6 mb-4">
                    <div id="chart2" style="width: 100%;height: 600px;"></div>
                </div>
                <div class="col-12">
                    <p>Históricamente, nuestras relaciones con los sindicatos de los cuales forman parte nuestros
                        colaboradores
                        han sido de mutuo respeto y bajo una comunicación bidireccional constante, en pleno respeto a la
                        libertad de asociación, libertad sindical y el derecho a la negociación colectiva, siendo que a
                        la fecha
                        de este informe nunca se han suscitado huelgas o paros.</p>

                    <p>Al cierre del 2021, aproximadamente el 59% de nuestros colaboradores estaban afiliados a los
                        siguientes
                        sindicatos: </p>

                    <div class="" id="carousel">
                        <div class="item"> Sindicato de Trabajadores de la Industria del Cemento, Cal, Asbesto,
                            Yeso, Envases y sus Productos Similares y Conexos de la República Mexicana
                        </div>
                        <div class="item">
                            • Sindicato Mexicano de Trabajadores de la Construcción con Maquinaria, Similares y Conexos
                            de la República Mexicana, Confederación de Trabajadores Campesinos
                        </div>
                        <div class="item">
                            • Sindicato Nacional de Trabajadores de la Actividad Comercial y sus Derivados, Agentes de
                            Comercio, Vendedores Viajeros, Propagandistas e Impulsores de Ventas de la República
                            Mexicana
                        </div>
                        <div class="item">
                            • Sindicato Progresista de Trabajadores de la Industria Portuaria Mexicana
                        </div>
                        <div class="item">
                            • Sindicato de Trabajadores y Empleados de Almacenes y Comercio de la República Mexicana
                        </div>
                        <div class="item">
                            • Sindicato de Trabajadores del Montaje, Construcción de Estructuras, Maquinaria, La
                            Transformación del Metal y Energía de la República Mexicana
                        </div>
                        <div class="item">
                            • Sindicato de Trabajadores y Empleados de Centros Educativos, Recreativos y Prestadoras de
                            Servicios en el Estado de México
                        </div>
                        <div class="item">
                            • Sindicato de Trabajadores y Empleados de Almacenes y Comercio de la República Mexicana
                        </div>
                        <div class="item">
                            • Sindicato de Trabajadores de la Construcción, Excavación, Operación, Similares, y Conexos
                            de la República Mexicana
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class=" post-gallery col-md-8 post-gallery slider valores">
                            <div class="item text-center">
                                <img class="w-75 mx-auto" src="{% static 'img/Infogramas_fortaleza/mision.png' %}" alt="">
                                <!---<p class="valor-description">
                                  Desarrollamos y administramos centros comerciales innovadores para crear emociones y
                                  experiencias únicas a nuestros visitantes, promover el bienestar de nuestra gente y
                                  mantener fuertes lazos con nuestros socios comerciales, creando valor a nuestros accionistas.
                                </p>--->
                            </div>
                            <div class="item text-center">
                                <img class="w-75 mx-auto" src="{% static 'img/Infogramas_fortaleza/vision.png' %}" alt="">
                                <!---<p class="valor-description">
                                Ser la operadora de centros comerciales más rentable de México, lo cual lograremos a través
                                de nuestro enfoque en:
                                <li>Ofrecer un modelo de negocio sostenible para todos nuestros grupos de interés</li>
                                <li>Posicionar la marca Sendero como referente de satisfacción y calidad para visitantes y socios comerciales</li>
                                <li>Innovación constante</li>
                                <li>Talento extraordinario</li>
                                </p>--->
                            </div>
                            <div class="item text-center">
                                <img class="w-75 mx-auto" src="{% static 'img/Infogramas_fortaleza/filosofia.png' %}" alt="">
                                <!--- <p class="valor-description">
                                    Tener relaciones de largo plazo con clientes, inversionistas y socios, lo cual
                                    se logra gracias al compromiso con trabajo y mejora continua en procesos y servicios en todas las áreas
                                  </p>--->
                            </div>
                        </div>
                    </div>
                    {#                    <div class="text-center">#}
                    {#                        <img class="img-fluid" src="{% static 'images/Leyes1.png' %}" width="1000" height="1000">#}
                    {#                    </div>#}
                    <br><br>
                    <p class="justify-text">A los esfuerzos por integrar la sustentabilidad dentro de nuestra
                        estrategia,
                        operaciones y procesos,
                        se le suman las acciones y programas sociales continuos que hemos emprendido en favor de las
                        comunidades
                        donde se ubican nuestros proyectos, los cuales han coadyuvado a la generación de empleos y a
                        impulsar
                        las actividades económicas locales.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/Clientes.png' %}" width="1000" height="1000"
                             alt="">
                    </div>
                    <div class="text-center">
                        <img class="img-fluid" src="{% static 'images/empleo_temporal.png' %}" width="1000"
                             height="1000"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/responsabilidad-social.js' %}"></script>
    <script src="{% static 'javascripts/owl.carousel.min.js' %}"></script>
    <script>
    $(function(){
       $("#carousel").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoPlay: 3500,
            singleItem: true,
            pagination: false,
            autoHeight: true,
            transitionStyle: "slideRight"
        });
        $(".valores").owlCarousel({
            navigation: true,
            slideSpeed: 300,
            paginationSpeed: 400,
            autoPlay: 3500,
            singleItem: true,
            pagination: false,
            autoHeight: true,
            transitionStyle: "slideRight"
        });

    })
    </script>
{% endblock %}
