{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>En PINFRA cumplimos a cabalidad con las regulaciones y normativas en materia laboral, al tiempo
                    que brindamos prestaciones y beneficios por encima de lo establecido por la ley.</p>
                <p>Al cierre del 2021, nuestra organización está formada por un equipo de 3,038 colaboradores
                    integrado como se muestra a continuación:</p>
            </div>
            <div class="col-md-6 mb-4">
                <div id="chart1" style="width: 100%;height: 600px;"></div>
            </div>
            <div class="col-md-6 mb-4">
                <div id="chart2" style="width: 100%;height: 600px;"></div>
            </div>
            <div class="col-12">
                <p>Históricamente, nuestras relaciones con los sindicatos de los cuales forman parte nuestros
                    colaboradores
                    han sido de mutuo respeto y bajo una comunicación bidireccional constante, en pleno respeto a la
                    libertad de asociación, libertad sindical y el derecho a la negociación colectiva, siendo que a
                    la fecha
                    de este informe nunca se han suscitado huelgas o paros.</p>

                <p>Al cierre del 2021, aproximadamente el 59% de nuestros colaboradores estaban afiliados a los
                    siguientes
                    sindicatos: </p>

                <div class="text-center">
                    <img class="img-fluid" src="{% static 'images/Leyes1.png' %}" width="1000" height="1000">
                </div>
                <br><br>
                <p class="justify-text">A los esfuerzos por integrar la sustentabilidad dentro de nuestra estrategia,
                    operaciones y procesos,
                    se le suman las acciones y programas sociales continuos que hemos emprendido en favor de las
                    comunidades
                    donde se ubican nuestros proyectos, los cuales han coadyuvado a la generación de empleos y a
                    impulsar
                    las actividades económicas locales.</p>
                <div class="text-center">
                    <img class="img-fluid" src="{% static 'images/Clientes.png' %}" width="1000" height="1000" alt="">
                </div>
                <div class="text-center">
                    <img class="img-fluid" src="{% static 'images/empleo_temporal.png' %}" width="1000" height="1000"
                         alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'javascripts/amcharts/amcharts.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/serial.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/pie.js' %}"></script>
    <script src="{% static 'javascripts/amcharts/contenido/responsabilidad-social.js' %}"></script>
{% endblock %}
