{% load change_languaje %}
{% load static %}
{% load i18n %}

<ul>
    {#    <li>#}
    {#        <a href="#">#}
    {#            <div>{% trans 'Modelo ASG' %}</div>#}
    {#        </a>#}
    {#        <ul>#}
    {#            <li class="{% if page == 'materialidad' %}current{% endif %}">#}
    {#                <a href="{% url 'materialidad' %}">#}
    {#                    <div>{% trans "Materialidad" %}</div>#}
    {#                </a>#}
    {#            </li>#}
    {#            <li class="{% if page == 'vinculacion-ods' %}current{% endif %}">#}
    {#                <a href="{% url 'vinculacion-ods' %}">#}
    {#                    <div>{% trans "Vinculación con los ODS" %}</div>#}
    {#                </a>#}
    {#            </li>#}
    {#        </ul>#}
    {#    </li>#}
    <li>
        <a href="#">
            <div>{% trans 'Medio Ambiente' %}</div>
        </a>
        <ul>
            <li class="{% if page == 'gestion-ambiental' %}current{% endif %}">
                <a href="{% url 'gestion-ambiental' %}">
                    <div>{% trans "Gestión Ambiental" %}</div>
                </a>
            </li>
            <li class="{% if page == 'vinculacion-ods' %}current{% endif %}">
                <a href="{% url 'vinculacion-ods' %}">
                    <div>{% trans "Vinculación con los ODS" %}</div>
                </a>
            </li>
            {#            <li class="{% if page == 'gestion-recursos' %}current{% endif %}">#}
            {#                <a href="{% url 'gestion-recursos' %}">#}
            {#                    <div>{% trans "Gestión de Recursos" %}</div>#}
            {#                </a>#}
            {#            </li>#}
            {#            <li class="{% if page == 'residuos' %}current{% endif %}">#}
            {#                <a href="{% url 'residuos' %}">#}
            {#                    <div>{% trans "Residuos" %}</div>#}
            {#                </a>#}
            {#            </li>#}
            {#            <li class="{% if page == 'contenido-descargable' %}current{% endif %}">#}
            {#                <a href="{% url 'contenido-descargable' %}">#}
            {#                    <div>{% trans "Contenido Descargable (Reporte)" %}</div>#}
            {#                </a>#}
            {#            </li>#}
        </ul>
    </li>
    <li>
        <a href="#">
            <div>{% trans 'Responsabilidad Social' %}</div>
        </a>
        <ul>
            <li class="{% if page == 'diversidad-inclusion' %}current{% endif %}">
                <a href="{% url 'diversidad-inclusion' %}">
                    <div>{% trans "Diversidad e Inclusión" %}</div>
                </a>
            </li>
            <li class="{% if page == 'salud-seguridad-bienestar' %}current{% endif %}">
                <a href="{% url 'salud-seguridad-bienestar' %}">
                    <div>{% trans "Salud y Seguridad" %}</div>
                </a>
            </li>
            <li class="{% if page == 'compromiso-social' %}current{% endif %}">
                <a href="{% url 'compromiso-social' %}">
                    <div>{% trans "Vinculación con la Comunidad" %}</div>
                </a>
            </li>
        </ul>
    </li>
    {#    <li>#}
    {#        <a href="{% url 'cadena-suministros' %}">#}
    {#            <div>{% trans 'Cadena de Suministros' %}</div>#}
    {#        </a>#}
    {#    </li>#}
    <li>
        <a href="{% url 'contacto' %}">
            <div>{% trans 'Contacto' %}</div>
        </a>
    </li>
    {#    <li>#}
    {#        <div class="{{ request.LANGUAGE_CODE }} ml-xl-5">#}
    {#        <a class="cart-btn mr-3"  href="{% url 'prensa' %}">#}
    {#            <span>{% trans 'Sala de Prensa' %}</span>#}
    {#        </a>#}
    {#            <a class=" cart-btn  {% if request.LANGUAGE_CODE == 'es' %}active{% endif %}"#}
    {#               href="{% change_lang 'es' %}">ES </a>|#}
    {#            <a class="cart-btn {% if request.LANGUAGE_CODE == 'en' %}active{% endif %}"#}
    {#               href="{% change_lang 'en' %}">EN</a>#}
    {#        </div>#}
    {#    </li>#}
</ul>
