{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
          <section id="content" class="">
              <div class="clearfix">
                  <div class="container mt-5 pt-1 mb-0 pb-0">
                      <div class="auto-container">
                          <h1 class="text-center tc-blue mt-5 mb-5">Principales avances</h1>

                          <div class="row clearfix d-flex align-items-center flex-wrap">
                              <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                                  <div class="image display-block-image hidden-xs text-right">
                                      <img class="wow fadeInLeft" data-wow-duration="2s"
                                           src="{% static 'images/energia_limpia.png' %}" alt="alternative text">
                                  </div>

                              </div>
                              <div class="col-md-6 d-flex" style="align-items: center">
                                  <div class="why-choose-text">
                                      <h2 class="font-weight-bold">Arranque del Plan de Energía Limpia </h2>
                                      <div class="text texto1">
                                          <p class="text-justify">A principios del año iniciamos nuestro
                                            Plan de Energía Limpia, que consiste en la instalación de celdas
                                            fotovoltaicas en todas nuestras autopistas, el cual esperamos
                                            concluir en el 2023. Mediante esta iniciativa buscamos que el
                                            85% de la energía consumida dentro de la organización provenga
                                            de fuentes renovables y amigables con el medio ambiente. A la
                                            fecha de la publicación de este informe, los trabajos de
                                            instalación de estas celdas siguen en curso conforme a lo programado.</p>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="container mb-0 pb-0">
                      <div class="auto-container">
                          <div class="row clearfix d-flex align-items-center flex-wrap">
                              <div class="col-md-6">
                                  <div class="why-choose-text">
                                      <div class="title">
                                          <h2 class="font-weight-bold">Reforestación en el tramo La Gloria-San Fernando de la
                                            autopista Monterrey-Nuevo Laredo</h2>
                                      </div>
                                      <div class="text mb-4 mb-md-0">
                                          <p class="text-justify">Los trabajos de reforestación en el tramo La Gloria- San
                                            Fernando de la autopista Monterrey-Nuevo Laredo fueron concluidos en tiempo y forma
                                            por un proveedor contratado por la Compañía.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 mb-4">
                                  <div class="image display-block-image hidden-xs">
                                      <img class="wow fadeInRight" data-wow-duration="2s"
                                           src="{% static 'images/reforestacion.png' %}" alt="alternative text">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section id="content">
              <div class="clearfix">
                  <div class="container mb-0 pb-0">
                      <div class="auto-container">
                          <div class="row clearfix d-flex align-items-center flex-wrap">
                              <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                                  <div class="image display-block-image hidden-xs text-right">
                                      <img class="wow fadeInLeft" data-wow-duration="2s"
                                           src="{% static 'images/conservacion.png' %}"
                                           alt="alternative text">
                                  </div>
                              </div>
                              <div class="col-md-6 d-flex" style="align-items: center">
                                  <div class="why-choose-text">
                                      <h2 class="font-weight-bold">Conservación del medio ambiente en Cuyutlán,
                                        Colima para la preservación y cuidado de la tortuga </h2>
                                      <div class="text texto1">
                                          <p class="text-justify">A lo largo de 14 km de playa se busca la
                                            protección de la tortuga en la región de Cuyutlán, algunas de
                                            las especias están en peligro de extinción. Además, se protegen a
                                            los cocodrilos de la zona. Contamos con una bióloga especializada
                                            en manglares para la preservación de la zona.</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="container mb-5 pb-5">
                      <div class="auto-container">
                          <div class="row clearfix d-flex align-items-center flex-wrap">
                              <div class="col-md-6">
                                  <div class="why-choose-text">
                                      <div class="title">
                                          <h2 class="font-weight-bold">Programa de Bonos de Carbono</h2>
                                      </div>
                                      <div class="text mb-4 mb-md-0">
                                          <p class="text-justify">En Acopilco, CDMX, desarrollamos un programa enfocado
                                            en la certificación del Bosque del Ajusco para obtener bonos de carbono.
                                            En Pinfra hemos brindado el apoyo necesario para conseguir la
                                            certificación.</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 mb-4">
                                  <div class="image display-block-image hidden-xs">
                                      <img class="wow fadeInRight" data-wow-duration="2s"
                                           src="{% static 'images/bosque.png' %}" alt="alternative text">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
            <section id="content">
                <div class="clearfix">
                    <div class="container mb-0 pb-0">
                        <div class="auto-container">
                            <div class="row clearfix d-flex align-items-center flex-wrap">
                                <div class="col-md-6 wow fadeInUp mb-5 mb-md-0" data-wow-duration="2s">
                                    <div class="image display-block-image hidden-xs text-right">
                                        <img class="wow fadeInLeft" data-wow-duration="2s"
                                             src="{% static 'images/comunidades.png' %}"
                                             alt="alternative text">
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex" style="align-items: center">
                                    <div class="why-choose-text">
                                        <h2 class="font-weight-bold">Dulce Camino</h2>
                                        <div class="text texto1">
                                            <p class="text-justify">En el estado de Morelos participamos en
                                              el apoyo a 18 ejidos de comunidades cañeras.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
<br><br><br>
<div class="content-wrap">
    <div class="container">
          <h2>Sistema de Gestión Ambiental</h2>

          <p>Contamos con un Sistema de Gestión Ambiental basado en la norma ISO 14001:2015, el cual nos permite
            identificar, prevenir y controlar las actividades, operaciones y procesos que puedan causar algún
            impacto sobre el medio ambiente, facilitando la mejora continua de nuestro desempeño ambiental.</p>

            <div class="text-center">
                <img class="img-fluid" src="{% static 'images/sistema_gestion_ambiental.png' %}" width="3000" height="3000">
            </div>

          <h2>Cumplimiento Ambiental</h2>
          <p>Todas nuestras actividades, operaciones y procesos cumplen con las legislaciones y normativas en
            materia de medio ambiente aplicables en donde se ubican nuestros proyectos e instalaciones, entre
            las cuales destacan:</p>

            <div class="text-center">
                <img class="img-fluid" src="{% static 'images/cumplimiento_ambiental.png' %}" width="3000" height="3000">
            </div>

          <p>Asimismo, gracias a los esfuerzos acumulados a lo largo de los años para mejorar nuestro desempeño
            ambiental, recientemente logramos renovar el certificado de Calidad Ambiental. Este distintivo es
            otorgado por el Programa Nacional de Auditoría Ambiental de la Procuraduría Federal de Protección al
            Ambiente a aquellas empresas que llevan su compromiso con el medio ambiente más allá de lo exigido por
            la ley de los distintos órdenes de gobierno.</p>

{% endblock %}

{% block otherscripts %}
{% endblock %}
