{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="text-justify">Con la estrategia de sostenibilidad que ha impulsado Pinfra, estamos en el
                        camino para combatir algunos de los objetivos impulsados por Naciones Unidas para la agenda
                        2030, destacan:</p>

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>OBJETIVO</th>
                            <th>MEDIDA</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Objetivo 1 <br>
                                Poner fin a la pobreza en todas sus formas y en todo el mundo
                            </td>
                            <td>
                                Empleo temporal
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 3 <br>
                                Garantizar una vida sana y promover el bienestar de todos a todas las edades
                            </td>
                            <td>
                                ¿Se les paga seguridad privada a colaboradores?
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 5 <br>
                                Lograr la igualdad de género y empoderar a todas las mujeres
                                y las niñas
                            </td>
                            <td>
                                No discriminación
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 7 <br>
                                Garantizar el acceso a una energía asequible, fiable, sostenible y moderna para todos
                            </td>
                            <td>
                                Paneles solares
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 8 <br>
                                Promover el crecimiento económico sostenido, inclusivo y sostenible, el empleo pleno y
                                productivo y el trabajo decente para todos
                            </td>
                            <td>
                                Empleos de calidad, programas para colaboradores, empleo temporal,
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 9 <br>
                                Construir infraestructuras resilientes, promover la industrialización inclusiva y
                                sostenible y
                                fomentar la innovación
                            </td>
                            <td>
                                No solo por el giro del negocio, sino parte de nuestra misión es contar con la
                                tecnología de
                                punta, que sea más eficiente
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 15 <br>
                                Proteger, restablecer y promover el uso sostenible de los ecosistemas terrestres,
                                gestionar
                                sosteniblemente los bosques, luchar contra la desertificación, detener e invertir la
                                degradación
                            </td>
                            <td>
                                Programas de biodiversidad
                            </td>
                        </tr>
                        <tr>
                            <td>Objetivo 16 <br>
                                Promover sociedades pacíficas e inclusivas para el desarrollo sostenible, facilitar el
                                acceso a
                                la justicia para todos y construir a todos los niveles instituciones eficaces e
                                inclusivas que
                                rindan cuentas
                            </td>
                            <td>
                                Medidas anticorrupción
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
