{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <p class="text-justify">Buscamos desarrollar el talento de manera constante con el fin de estar siempre
                alineados a las
                nuevas tendencias del sector, todo esto mediante capacitación técnica basada en las necesidades del
                puesto que desempeña cada
                colaborador.</p>

            <p class="text-justify">Nuestros colaboradores son un activo clave para el crecimiento y desempeño de la
                organización. Parte del
                compromiso hacia nuestra gente es procurar en todo momento un ambiente laboral de respeto, inclusión y
                equidad. Por ello, buscamos brindar oportunidades de crecimiento,
                tanto personal como profesional, a través del desarrollo integral, permitiéndoles
                desempeñar sus actividades diarias y alcanzar sus objetivos.</p>

            <p class="text-justify">En este sentido, a continuación, se muestra la composición de la
                plantilla laboral del administrador y de los gestores hoteleros, al cierre de 2021:</p>


            <div class="row d-flex align-items-center flex-wrap">
                <img class="img-fluid" src="{% static 'images/Distr_genero.png' %}" width="3000" height="3400">
            </div>

            <div class="row d-flex align-items-center flex-column">
                <div class="col-md-5">
                    <img class="img-fluid" src="{% static 'images/Incentivo.png' %}" width="3000" height="3400">
                </div>

                <div class="col-md-7">
                    <br>
                    <img class="img-fluid" src="{% static 'images/porcentaje_mujeres.png' %}" width="3000"
                         height="3400">
                </div>
                <div class="row d-flex align-items-center flex-wrap">
                    <img class="img-fluid" src="{% static 'images/Distr_edad.png' %}" width="3000" height="3400">
                </div>
                <br><br>

                <img class="img-fluid" src="{% static 'images/diversidad2-1.png' %}" alt="">
            </div>
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
