{% extends 'layouts/interior.html' %}
{% load static %}
{% block otherstyles %}

{% endblock %}

{% block wrapper %}
    <div class="content-wrap">
        <div class="container">
            <h1 class="text-center tc-blue">Principales Acciones</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/GPTW.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-justify"><br><br><br><br><br><br>Durante 2021,
                        se llevaron a cabo encuestas de clima laboral bajo la metodología “Great Place to Work®” a los
                        colaboradores de Fibra Inn para impulsar entornos favorables de trabajo.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-justify"><br><br><br><br><br><br>Contamos con un amplio compromiso con el bienestar
                        laboral y personal,
                        por lo cual se ha desarrollado un programa de atención a riesgos psicosociales para la
                        implementación de la <strong>NOM-035-STPS-2018: Factores de Riesgo Psicosocial en el
                            Trabajo-Identificación,
                            Análisis y Prevención</strong>. En este sentido, se llevó a cabo una evaluación con apoyo de
                        un tercero, al 99.85% de los colaboradores.</p>

                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/riesgos_psicosociales.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/alegria.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-justify"><br><br><br><br><br><br>La salud, seguridad y bienestar es
                        primordial para el desarrollo individual y en conjunto, por lo que se busca promover y crear una
                        cultura
                        de seguridad con la participación y apoyo de todos los colaboradores, proveedores, clientes y
                        comunidades.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-justify"><br><br><br><br><br><br>Contamos con el programa "Mes de la Salud" donde
                        brindamos a los colaboradores servicios que fomentan su salud
                        y bienestar como: activación física, estudios médicos,
                        exámenes de la vista, asesorías de nutrición, entre otras.</p>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/mes_salud.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/Covid.png' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="text-justify"><br><br><br><br><br><br>Durante la pandemia por COVID-19, nos encargamos de
                        mantener actualizados los protocolos de
                        salud apegándonos a las indicaciones y semáforos
                        estatales, además de generar convenios con laboratorios para ofrecer beneficios sobre las
                        pruebas PCR
                        y antígenos.</p>
                </div>
            </div>
            <div class="text-center">
                <br><br>
                <h1 class="text-center tc-blue">Principales Indicadores</h1>
                <img class="img-fluid" src="{% static 'images/salud_seguridad.png' %}" width="800" height="600">
            </div>

            <h1 class="text-center tc-blue">Beneficios</h1>

            <p class="text-justify">Se ofrecen las mejores oportunidades y prestaciones atractivas, completas y
                competitivas. Para así
                rentener a nuestro talento, satisfacer las necesidades y fomentar su bienestar y
                el de su familia. El administrador de Fibra Inn ofrece los siguientes beneficios:</p>

            <img class="img-fluid" src="{% static 'images/Beneficios_.png' %}" width="3000" height="3400">
        </div>
    </div>
{% endblock %}

{% block otherscripts %}
{% endblock %}
